* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.logo img {
  width: auto;
  height: 120px;
  border-radius: 50%;
}

section {
  height: 100vh;
}

.landingPage {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.705),
      rgba(0, 0, 0, 0.699)
    ),
    url("./Assets/landing_background.jpg");
  background-position: top;
  padding-top: 15px;
}

.categoryCards {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.705),
      rgba(0, 0, 0, 0.699)
    ),
    url("./Assets/card_background.jpg");
  background-position: top;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  min-width: 100%;
  position: fixed;
  z-index: 100;
}

.logo {
  float: left;
  border-radius: 50%;
}

.logo img {
  width: 180px;
  height: auto;
  transition: 0.3s;
}

.navbar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  float: right;
  border-radius: 45px;
  background-color: #3c3c3c6c;
}

.fixed {
  z-index: 100;
  animation-name: justify;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fixed #navigacija {
  background-color: rgba(255, 255, 255, 0.822);
}

.fixed #navigacija ul li a {
  color: #000;
  font-weight: 500;
}

.fixed .logo {
  background-color: rgba(0, 0, 0, 0.548);
  transition: all 0.3s;
}

.fixed img {
  width: 130px;
  height: auto;
  transition: all 0.3s;
}

@keyframes justify {
  0% {
    padding: 0 40px;
    border-radius: 1px;
  }
  100% {
    padding: 0 120px;
    border-radius: 35px;
  }
}

.reverseFixed {
  z-index: 100;
  animation-name: justifyReverse;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes justifyReverse {
  0% {
    padding: 0 120px;
    border-radius: 35px;
  }
  100% {
    padding: 0 40px;
    border-radius: 1px;
  }
}

.navList {
  list-style-type: none;
  display: flex;
  padding: 3px 3px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.list-item {
  align-self: center;
  padding: 20px;
  border-radius: 45px;
}

.list-item:not(:last-child) {
  margin-right: 2px;
}

.list-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: inline-block;
}

.list-item:hover {
  cursor: pointer;
  background-color: #857f7fa1;
}

.mainText {
  position: absolute;
  top: 35%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.mainText h1 {
  font-size: 4em;
  letter-spacing: 2.2px;
  font-weight: 500;
}

.mainText h2 {
  margin-top: 1em;
  font-weight: 500;
}

.mainText img {
  width: 40px;
  margin-top: 20vh;
  animation-name: upAndDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.mainText img:hover {
  cursor: pointer;
}

@keyframes upAndDown {
  0% {
    transform: translateY(00px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sectionTitle {
  display: inline-block;
  position: relative;
  top: 7vh;
  left: 5%;
  font-size: 3.5em;
  letter-spacing: 2.2px;
  font-weight: 300;
}

.sectionTitle:after {
  content: " ";
  display: block;
  border: 0.3px solid #dbdbdbaa;
  border-radius: 4px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(14, 13, 13, 0.863);
  color: #fff;
  font-weight: 400;
  padding: 30px 0;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form input,
footer form textarea {
  margin-top: 15px;
  padding: 20px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

footer form input::placeholder,
footer form textarea::placeholder {
  font-size: 20px;
  font-family: "Montserrat";
  height: 30px;
}

footer form input[type="submit"] {
}

footer .googleMap iFrame {
  height: 35vh;
}
